name: Deploy TrackMyPet Backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Add SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Disable host key checking
        run: |
          echo -e "Host *\n    StrictHostKeyChecking no\n" >> ~/.ssh/config

      - name: Deploy to EC2
        run: |
          ssh ec2-user@ec2-18-230-213-54.sa-east-1.compute.amazonaws.com "cd trackmypet-backend && git pull origin main && rm -rf node_modules && npm ci && npm run build && sudo systemctl restart nest"
